body {
  background: 
    radial-gradient(circle at top, #f5f1e6, #e8dfc8);
  color: #333;
  padding-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#role-select {
   min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#role-select h2 {
  margin-bottom: 20px;
}

#role-select button {
  width: 220px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 18px;
  opacity: 0.8;
}

.name {
  font-size: 28px;
  margin: 10px 0;
  color: #d4af37; /* dorado elegante */
}
#app {
  display: none;
}

.info {
  margin: 15px 0;
}

.info p {
  margin: 5px 0;
  font-size: 16px;
}

button.ok {
  background: #d4af37; /* dorado */
  color: white;
}

input {
  padding: 15px;
  width: 80%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.result-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;

  max-width: 400px;   /* controla el tamaño */
  margin: 20px auto;  /* centra horizontalmente */
  padding: 20px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;

  background: linear-gradient(90deg, #d4af37, #f1d77a, #d4af37);

  -webkit-background-clip: text;
  background-clip: text; 

  -webkit-text-fill-color: transparent;
  color: transparent; 
}
.logo-fixed {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  position: static;
}

.ok { background: green; color: white; }
.warn { background: orange; color: black; }