body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #111, #222);
  color: white;
}

.container {
  padding: 40px;
}

input {
  padding: 15px;
  width: 80%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.result-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
h1 {
  color: #d4af37;
}

.ok { background: green; color: white; }
.warn { background: orange; color: black; }